* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
background-color: #f4f6f8;
color: #333;
line-height: 1.6;
}

/* Navbar */
.header {
background: #0d6efd;
padding: 15px 40px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav h1 {
color: #fff;
font-size: 24px;
}

nav ul {
list-style: none;
display: flex;
gap: 20px;
}

nav ul li a {
text-decoration: none;
color: #fff;
font-weight: 500;
}

nav ul li a:hover {
text-decoration: underline;
}

/* Hero Section */
.hero {
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f') center/cover;
color: #fff;
text-align: center;
}

.hero h2 {
font-size: 48px;
margin-bottom: 10px;
}

.hero p {
font-size: 20px;
margin-bottom: 20px;
}

.hero a {
background: #0d6efd;
color: #fff;
padding: 12px 25px;
text-decoration: none;
border-radius: 5px;
font-weight: 500;
}

.hero a:hover {
background: #084298;
}

/* Sections */
section {
padding: 60px 40px;
}

section h2 {
text-align: center;
margin-bottom: 40px;
font-size: 32px;
color: #0d6efd;
}

/* About */
.about {
/* max-width: 900px; */
margin: auto;
text-align: justify;
font-size: 1.4em;
}

.highlight {
  color: #0d6efd;
  font-weight: 600;
}



/* Skills */
.skills {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
max-width: 900px;
margin: auto;
}

.skills div{
    background-color: #084298;
}
.skills div a{
    text-decoration: none;
    color: white;
}

.skill-box {
background: #fff;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box h3 {
  margin-bottom: 10px;
  color: #0d6efd;
}

.skill-box p {
  font-size: 15px;
}

.skill-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Projects */
.projects {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 25px;
max-width: 1000px;
margin: auto;
}

.project-card {
background: #fff;
border-radius: 8px;
overflow: hidden;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card img {
width: 100%;
height: 180px;
object-fit: cover;
}

.project-card .content {
padding: 15px;
}

/* Contact */
.contact {
max-width: 600px;
margin: auto;
text-align: center;
}

.contact p {
margin-bottom: 10px;
}

/* Footer */
footer {
background: #0d6efd;
color: #fff;
text-align: center;
padding: 15px;
position: fixed;
bottom: 0;
width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
.hero h2 {
font-size: 36px;
}
}